<%= form_for @parent do |f| %>
  <% if parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :物件名 %>
    <%= f.text_field :property_name %>
  </div>

  <div class="field">
    <%= f.label :賃料 %>
    <%= f.number_field :rent_value %>円

  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :築年数 %>
    <%= f.number_field :age %>年
  </div>

  <div class="field">
    <%= f.label :備考 %>
    <%= f.text_area :remarks %>
  </div>

<hr>
  <% n = 1 %>
  <%= f.fields_for :childs do |a| %>
  <h2>最寄り駅<%= n %></h2>
    <div class="field">
      <%= a.label :路線 %>
      <%= a.text_field :train_line %>
    </div>

    <div class="field">
      <%= a.label :最寄り駅 %>
      <%= a.text_field :near_station %>
    </div>

    <div class="field">
      <%= a.label :徒歩分数 %>
      <%= a.number_field :walk_time %>分
    </div>
    <% n += 1 %>
  <% end %>
  <div class="actions">
    <%= f.submit :登録する %>
  </div>
<% end %>
