<%= form_for(parent) do |f| %>
  <% if parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <hr>
  <% n = 0 %>
  <%= f.fields_for :childs do |f| %>
    <%= "子供数#{n += 1}" %>

    <div class="field">
      <%= f.label :child_name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :child_age %>
      <%= f.number_field :age %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
